* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #121212;
    color: #f5f5f5;
}
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 150px;
    background: radial-gradient(circle at top, #1a1a1a, #121212);
  }
  
  .login-form {
    background-color: rgba(20, 20, 20, 0.85);
    padding: 50px 40px;
    border-radius: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px  #e0c097 solid;
    gap: 20px;
  }
  
  .login-title {
    font-size: 38px;
    text-align: center;
    margin-bottom: 1px;
    color: #e0c097;

  }
  
  .description {
    font-size: 18px;
    text-align: center;
    margin-top: 0px;
    color: #d0bfa1;
  }
  
  .login-form h4 {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
  }
  
  .login-form input {
    padding: 18px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #1f1f1f;
    color: #fff;
    outline: none;
    transition: 0.3s;
  }
  
  .login-form input:focus {
    background-color: #292929;
    box-shadow: inset 0 0 8px #333;
  }
  
  .login-btn {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #e0c097;
    color: #121212;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .login-btn:hover {
    background-color: #d4b182;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  }
  